os: linux
dist: bionic

language: python

jobs:
  include:
    # Python version is just for the look on travis.
    # Test the full python/django matrix with postgresql
    - python: 3.6
      env: TOXENV=py36-django111-postgresql COLLECT_COVERAGE=true PYPI_DEPLOY=true
    - python: 3.7
      env: TOXENV=py37-django111-postgresql
    - python: 3.6
      env: TOXENV=py36-django20-postgresql
    - python: 3.7
      env: TOXENV=py37-django20-postgresql
    - python: 3.6
      env: TOXENV=py36-django21-postgresql
    - python: 3.7
      env: TOXENV=py37-django21-postgresql
    - python: 3.6
      env: TOXENV=py36-django22-postgresql
    - python: 3.7
      env: TOXENV=py37-django22-postgresql
    - python: 3.8
      env: TOXENV=py38-django22-postgresql
    - python: 3.9
      env: TOXENV=py39-django22-postgresql
    - python: 3.6
      env: TOXENV=py36-django30-postgresql
    - python: 3.7
      env: TOXENV=py37-django30-postgresql
    - python: 3.8
      env: TOXENV=py38-django30-postgresql
    - python: 3.9
      env: TOXENV=py39-django30-postgresql
    - python: 3.6
      env: TOXENV=py36-django31-postgresql
    - python: 3.7
      env: TOXENV=py37-django31-postgresql
    - python: 3.8
      env: TOXENV=py38-django31-postgresql
    - python: 3.9
      env: TOXENV=py39-django31-postgresql
    - python: 3.6
      env: TOXENV=py36-django32-postgresql
    - python: 3.7
      env: TOXENV=py37-django32-postgresql
    - python: 3.8
      env: TOXENV=py38-django32-postgresql
    - python: 3.9
      env: TOXENV=py39-django32-postgresql
    # Test against sqlite once for each major django version.
    - python: 3.6
      env: TOXENV=py36-django111-sqlite
    - python: 3.7
      env: TOXENV=py37-django22-sqlite
    - python: 3.8
      env: TOXENV=py38-django32-sqlite
    # Test on ppc64le once for each major django version.
    - python: 3.6
      env: TOXENV=py36-django111-sqlite
      arch: ppc64le
    - python: 3.7
      env: TOXENV=py37-django22-sqlite
      arch: ppc64le
    - python: 3.8
      env: TOXENV=py38-django32-sqlite
      arch: ppc64le
    # Check flake8 once.
    - python: 3.6
      env: TOXENV=py36-flake8

addons:
  postgresql: "9.6"

before_script:
  # only create postgres database if needed.
  - if [[ $TOXENV =~ "postgresql" ]]; then psql -c 'create database dirtyfields_test;' -U postgres; fi

script:
  - tox

install:
  - pip install tox
  - pip install coveralls

after_success:
  # only upload coverage report to coveralls from one job.
  - if test "$COLLECT_COVERAGE" = "true"; then coveralls; fi

deploy:
  edge: true  # opt in to dpl v2
  provider: pypi
  # We use the __token__ special key to indicate that we use Pypi API token, instead of the
  # username/password combinaison
  username: "__token__"
  # No need to provide the password anymore. It has been set as an PYPI_PASSWORD environment variable
  # on travis-ci.org web interface, and is picked automatically in this deploy stage for pypi.
  password: $PYPI_PASSWORD
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    # Custom condition to only deploy from one job. Avoids deploy errors on ppc64le jobs.
    condition: $PYPI_DEPLOY = true
    repo: romgar/django-dirtyfields
